Click==7.0
csvs-to-sqlite==0.9
dateparser==0.7.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mysqlclient==1.4.1
numpy==1.16.0
pandas==0.23.4
pkg-resources==0.0.0
py-lru-cache==0.1.4
python-dateutil==2.7.5
pytz==2018.9
regex==2019.1.24
six==1.12.0
tzlocal==1.5.1
Werkzeug==0.14.1
